{
  "host": "127.0.0.1",           // The IP address the websocket server will listen on
  "port": 8765,                   // The port for the websocket server
  "exec_path": "/example/supertuxkart", // Path to the SuperTuxKart executable
  "datadir": "/home/example/stk-code", // Path to the SuperTuxKart data directory
  "cwd": "/home/example",   // Working directory for the server process
  "no_logging": false             // Set to true to disable logging to file
}
